main {
    background-color: green;
}

h1 {
    position: top;
    float: left;
    background-color: #4aaaa5;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav {
    width: 960px;
    overflow: auto;
    margin: auto;
}

.tags {
    float: right;
    overflow: auto;
}

.header {
    width: 100%;
    overflow: auto;
    background-color: #ffffff;
    border-bottom: #cccccc;
}    

h2 {
    color: #4aaaa5;
}

#copyright {
    overflow: auto;
    text-align: center;
    color: white;
    background-color: #666666;
    width: 100%;
}

.main {
    width: 960px;
    margin: 0 auto;
    overflow: auto;
    background-color: #ffffff;
    border-color: #dddddd;
}

#me {
    padding: 20px;
    float: left;
}

.body {
    width: 960px;
    margin: 20px;
    padding: 20px;
}

#topline {
    overflow: auto;
}